body {
  margin: 0;
}
form {
  border: dotted 2px black;
  width: 99%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;

}
  .info {
  font-size: 25px;
  width: 49%;
  height: 750px;
  float: right;
  position: relative;
  overflow: auto;
  border: dotted 2px black;
  text-align: center;
}
input {
  width: 80%;
  height: 40px;
  margin: 5px 10px 10px 5px;
}
.button {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 150px;
  margin: 0 auto 10px;
  cursor: pointer;
}
p {
  margin: 5px;
}

.rc-draggable-list-handles {
  display: none;
}